<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/jms
           https://www.springframework.org/schema/jms/spring-jms.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder/>

    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">
        <property name="URL" value="${DB_URL:jdbc:oracle:thin:@localhost:1521/FREEPDB1}"/>
        <property name="user" value="demo"/>
        <property name="password" value="demo"/>
    </bean>

    <bean id="connectionFactory" class="com.demo.aq.AQConnectionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="orderMessageListener" class="com.demo.aq.OrderMessageListener"/>

    <jms:listener-container connection-factory="connectionFactory"
                            destination-type="queue"
                            cache="consumer"
                            concurrency="1">
        <jms:listener destination="demo.orders_queue" ref="orderMessageListener"/>
    </jms:listener-container>

</beans>
